<%- include('./layout/head') %>
  <form action="/edit/<%= id %>" method="post">
    <div class="input-field">
      <input id="name" name="name" type="text" value="<%= contact.name %>">
      <label for="name">Nome</label>
    </div>
    <div class="input-field">
      <input id="email" name="email" type="text" value="<%= contact.email %>">
      <label for="email">Email</label>
    </div>
    <input class="btn red" type="submit" value="salvar">
  </form>

  <p><a href="/view/<%= id %>" class="btn">voltar</a></p>
<%- include('./layout/footer') %>