<%- include('./layout/head') %>
    <h3>Listagem</h3>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% for (let key in contacts) { %>
        <tr>
          <td><%= contacts[key].name %></td>
          <td><%= contacts[key].email %></td>
          <td>
            <a href="/view/<%= key %>" class="btn">ver</a>
          </td>
        </tr>
      <% }; %>
    </tbody>
  </table>

  <p><a href="/new" class="btn">Novo</a></p>
<%- include('./layout/footer') %>